EXPO_PUBLIC_API_URL=example
EXPO_PUBLIC_SCHEME=com.example
EXPO_PUBLIC_STAGE=example
# unstable config => re-check issue if release production
EXPO_UNSTABLE_METRO_OPTIMIZE_GRAPH=1
EXPO_UNSTABLE_TREE_SHAKING=1
# end
EX_UPDATES_COPY_EMBEDDED_ASSETS=true
