node_modules/

# macOS
.DS_Store
*.pem


.secrets

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# local env files
.env*.local

# typescript
*.tsbuildinfo

# i18n
src/locale/locales/_build/
src/locale/locales/**/*.js

ios
android
# Reassure output directory
.reassure
._.*
