name: Lint

on:
  pull_request:
  push:
    branches: [main]

jobs:
  lint:
    if: github.actor != 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Biome
        uses: biomejs/setup-biome@v2

      - name: Run Biome lint
        run: |
          biome lint --fix
          cd template && biome lint --fix .
